<footer class="w-full bg-neutral-700 h-12 sm:h-14 p-2 sm:p-4 flex flex-row items-center justify-center relative bottom-0 left-0">
  <p class="text-white text-xs sm:text-sm md:text-base text-center">&copy; <span id="copyright-year"></span> SkillsChange. Todos los derechos reservados</p>
</footer>
<script>
  const year = new Date().getFullYear();
  document.getElementById("copyright-year").textContent = year;
</script>