<nav class="flex w-ful h-12 bg-black items-middle align-center justify-between p-2">
  <a href="" class="text-[18px] text-white font-bold ml-40">Bricolaje</a>
  <a href="" class="text-[18px] text-white font-bold">Estética</a>
  <a href="" class="text-[18px] text-white font-bold">Diseño</a>
  <a href="" class="text-[18px] text-white font-bold mr-40">Informática</a>
</nav>